# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- Evaluating Arithmetic Expressions
- Formatting Texts

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Scikit

| Data Science Tools |
|-------------------|
| Apache Airflow |
| Tableau |
| Git |

### Below are a few examples of evaluating arithmetic expressions in Python
- 3+4
- 3*4
- 3-4

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Udai